body {
	background-image: url(img/repeat.jpg);
	margin: 0;
}

h1 {
	font-size: 80px;
	text-align: center;
	color: teal;
	background-color: black;
	font-family: Georgia, serif;	
}

h2 {
	color: teal;
	font-size: 40px;
}

p {
	font-family: Helvetica, sans-serif;
	color: blue;
}